<h2>Showing Transaction: <%= @transaction.id %></h2>

<p>Date: <%= @transaction.transaction_date %></p>
<p>Merchant: <%= @transaction.merchant_id %></p>
<p>Tag: <%= @transaction.tag_id %></p>
<p>Amount: <%= @transaction.amount %></p>
<p>Time: <%= @transaction.transaction_time%></p>

<form action="/account/transactions/<%= @transaction.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
